.container {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.selects {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    border: 1px solid black
}