.footer {
    background-color: #03045E;
    padding: 7px; 
    color:#C0C0C0
}
 .h5 {
    text-align: center;
    margin: 0px;
 }

 .p {
    text-align: center;
    font-size: 12px;
    margin-top: 0px;
 }