.orden {
    display: flex;
    flex-direction: row;
}
.vDanger {
    color: #dc2f02;
    font-size: 11px;
}
.img {
    background-image: url('https://media.istockphoto.com/id/519683757/es/foto/viaja-por-todo-el-mundo.jpg?s=612x612&w=0&k=20&c=A1Mh0psbqv7iCAL9FwD9Q1g06Ort0iDmSIY9b00vcH4=');
    background-repeat: no-repeat;
    height: 600px;
    
}
/* https://media.istockphoto.com/id/519683757/es/foto/viaja-por-todo-el-mundo.jpg?s=612x612&w=0&k=20&c=A1Mh0psbqv7iCAL9FwD9Q1g06Ort0iDmSIY9b00vcH4=
https://media.istockphoto.com/id/1210139503/es/vector/patr%C3%B3n-de-viaje-sellos-de-inmigraci%C3%B3n-pegatinas-con-objetos-culturales-hist%C3%B3ricos-que-viajan.jpg?s=612x612&w=0&k=20&c=_FqH4XPU-ztPzW50sCA-C87zJ8dJGUSLfTo96xaSOok=*/
/* https://media.istockphoto.com/id/1168683655/es/foto/viajes-y-turismo-con-lugares-de-inter%C3%A9s-famosos-del-mundo.jpg?s=612x612&w=0&k=20&c=tKn4szA3WGXcyYfs_0WGddpmPma64GNRnAb7Ty8_3js= */